body{
    margin: 5%
}

h1{
    font-family:'Helvetica', Times, serif;
    font-weight: bolder;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
h3{border:solid 1px #CC00AA}
main{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

